.container.m-card{
  display: flex;
  padding: 24px 40px;
  height: fit-content;
}
.container.m-card .left{
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 32px;
}
.container.m-card .left button{
  padding: 8px 40px;
  width: fit-content;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  background-color: #300303;
  margin: 32px 0 0 0 ;
}
.right{
  flex: 1;
}
.right img{
  max-width: 40vw;
  border-radius: 20px;
}