.container .title{
  display: flex;
  align-items: center;
}
.my-btn-submit{
  border-radius: 30px;
  padding: 8px 40px;
  background-color: #300303;
  color: white;
  border: none;
  outline: none;
  transition: all .2s ease;
}
.my-btn-submit:hover{
  background-color: var(--primary);
  color: #300303;
}

form{
  margin-bottom: 40px;
}